# snippets for GTD log

snippet LOG
`!p 
import time, vim;
if not snip.c:
	vim.command(r'syntax sync minlines=100')
	vim.command(r'normal zz')
	snip.rv = time.strftime('%Y-%m-%d %H:%M:%S')`
O: $1
R: $2
$0
endsnippet
